<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog de Café</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="site-header">
        <div class="contenedor">
            <div class="barra">
                <a href="/prueba/index">
                    <h1 class="no-margin">Tunki <span>Café</span></h1>
                </a>
                <nav class="navegacion">
                    <a href="/prueba/nosotros">Nosotros</a>
                    <a href="/prueba/cursos">Cursos</a>
                    <a href="/prueba/contacto">Contacto</a>
                </nav>
            </div><!-- Barra -->

            <div class="texto-header">
                <h2 class="no-margin">Blog de cafe con consejos y cursos</h2>
                <p class="no-margin">Aprende de los expertos con las mejores recetas</p>
            </div>

        </div> <!-- Contenedor-->

    </header>

    <main class="contenedor">
        <h2 class="centrar-texto">Nuestror proximos Cursos y Talleres</h2>
        <article class="curso grid">
            <div class="columnas-4">
                <img src="/img/curso1.jpg" alt="Imagen curso">
            </div>
            <div class="columnas-8">
                <h4 class="no-margin">Emprendimiento de tu cafetería.</h4>
                <p class="no-margin">Fecha: <span>20 Agosto de 2019</span></p>
                <p class="no-margin">Precio: <span>Gratis</span></p>
                <p class="no-margin">Cupo: <span>20</span></p>
                <p class="descripcion">Compartir con el estudiante herramientas para desarrollar el Plan de Negocio, que incluya un presupuesto, encontrar el lugar adecuado, gestiones para la creación de la cafeteria, capacitaciones para Ud. y para su personal.</p>
            </div>

        </article>

        <article class="curso grid">
            <div class="columnas-4">
                <img src="/img/curso2.jpg" alt="Imagen curso">
            </div>
            <div class="columnas-8">
                <h4 class="no-margin">Barista</h4>
                <p class="no-margin">Fecha: <span>25 Agosto de 2019</span></p>
                <p class="no-margin">Precio: <span>Gratis</span></p>
                <p class="no-margin">Cupo: <span>20</span></p>
                <p class="descripcion">Aprenderá técnicas para la elaboración de café, reconocer las herramientas y equipo a utilizar, desarrollo de habilidades sensoriales. Operar máquinas de café, preparación de diversos tipos de café, manejo de inventarios, caducidades y mermas.</p>
            </div>

        </article>

        <article class="curso grid">
            <div class="columnas-4">
                <img src="/img/curso3.jpg" alt="Imagen curso">
            </div>
            <div class="columnas-8">
                <h4 class="no-margin">Catación Básica</h4>
                <p class="no-margin">Fecha: <span>28 Agosto de 2019</span></p>
                <p class="no-margin">Precio: <span>Gratis</span></p>
                <p class="no-margin">Cupo: <span>20</span></p>
                <p class="descripcion">Dirigido a los apasionados y emprendedores en el gremio del café que están enfocados en la calidad. Desarrollar habilidades básicas de reconocimiento de aromas y sabores. Obtener las herramientas básicas para implementar y/o mejorar la evaluación sensorial</p>
            </div>

        </article>
        <article class="curso grid">
            <div class="columnas-4">
                <img src="/img/curso3.jpg" alt="Imagen curso">
            </div>
            <div class="columnas-8">
                <h4 class="no-margin">Perfilación de Tueste</h4>
                <p class="no-margin">Fecha: <span>28 Agosto de 2019</span></p>
                <p class="no-margin">Precio: <span>Gratis</span></p>
                <p class="no-margin">Cupo: <span>20</span></p>
                <p class="descripcion">Dirigido a personas que laboran en el área de tueste de café, interesados en saber seleccionar materias primas para elaboración de mezclas que satisfagan a sus clientes.</p>
            </div>

        </article>

    </main>

    <footer class="site-footer">
        <div class="contenedor">
            <div class="barra">
                <p class="no-margin">Blog <span>DeCafé</span></p>
                <nav class="navegacion">
                    <a href="/prueba/nosotros">Nosotros</a>
                    <a href="/prueba/cursos">Cursos</a>
                    <a href="/prueba/contacto">Contacto</a>
                </nav>
            </div>
        </div>
    </footer>

</body>

</html>